{% load bootstrap3 %}
<div style="padding: 0px 30px 30px 30px;">

    <div class="search-bar">
        <form action="{% url 'snippet-list' %}" method="get">
            <div class="form-group">

                <div class="input-group">
                    <div class="input-group-addon btn btn-default"><i class="fa fa-search"></i></div>
                    <input type="text" class="form-control" name="q" id="" placeholder="Search...">
                         <span class="input-group-btn">
                             <button class="btn btn-default" type="button" data-toggle="modal" data-target="#add-file">
                                 <i class="fa fa-plus" aria-hidden="true"></i> ADD
                             </button>
      </span>

                </div>
            </div>

            </button>
        </form>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="add-file" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <form action="" method="post" class="form">{% csrf_token %}
                <div class="modal-body">

                    {% bootstrap_form form %}


                </div>
                <div class="modal-footer">

                    {% buttons %}
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">
                            {% bootstrap_icon "" %} Submit
                        </button>
                    {% endbuttons %}
                </div>
            </form>

        </div>
    </div>
</div>